{
    "mysql": {}, // `aiomysql.create_pool`に渡されるキーワード引数です。
    "stripe": "予約済み, まだ意味をなさない",
    "oauth": {
        "client_id": "OAuthのクライアントID",
        "client_secret": "OAuthのクライアントシークレット"
    }
}